:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
