<div class="container">
  <h2>Who We Are</h2>
  <p>We are a non-denominational body of Christians who believe that Jesus is the Son of God. In all matters of faith and practice,
    we submit to Scripture alone and not to man made doctrines, creeds, or traditions. There are thousands of independent
    churches of Christ throughout the world, each governing its own body, though united in spirit through the work of Christ</p>

  <h3>What the Bible says about:</h3>
  <app-bible-says-about></app-bible-says-about>
</div>
