<div class="container">
  <h3>Resources</h3>
  <p>The following in depth lessons are not meant to be read casually. They require a commitment of time and mental energy.
    The purpose is to help you gain a deeper understanding of God’s Word. Each article is written by Schuyler Signor unless
    otherwise noted.</p>
  <p>These articles represent the author’s understanding of what Scripture teaches on a given subject. There may be some disagreements,
    but disagreements often prove helpful for both the author and the reader, in order that both may draw closer to the will
    of God.</p>
  <p>You will need Adobe Reader to view these PDF articles. If you do not already have it, you can download it for free here.
    We hope you enjoy being spiritually challenged and look forward to any comments you may have.</p>
</div>
