<div class="container">
  <h2>Articles</h2>
  <p>Welcome to our brief articles section. Underneath the Brief Articles tab to the left, you will find various topics to explore. The subjects range from spiritual warfare, to current political issues, to baptism, and the articles are meant to spark your curiosity.  We pray that they will help you grow in the grace and knowledge of our Lord Jesus Christ.  Perhaps it will also provoke you to dig deeper into the immeasurable riches of the Word of God.</p>
  <div *ngIf="categories$ | async as categories">
    <ul>
      <li *ngFor="let category of categories">
        {{category.name}}
      </li>
    </ul>
  </div>
  <div><a routerLink="create">Create New Article</a></div>
  <router-outlet></router-outlet>
</div>