<div class="container">
  <h3>Create New Article</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input 
      type="text" 
      placeholder="Title"
      formControlName="title">
    
    <select
      *ngIf="categories$ | async as categories"
      formControlName="category">
      <option value="">Select Category</option>
      <option 
        *ngFor="let category of categories"
        [value]="category.route">{{category.name}}</option>
    </select>

      <!--formControlName="content"-->
    <app-tiny-editor
      [initialContent]="initialContent"
      [elementId]="'my-editor'"
      (onEditorContentChange)="handleContentChange($event)">
    </app-tiny-editor>

    <button type="submit" [disabled]="form.invalid">Create</button>
    <pre>{{form.value | json}}</pre>
  </form>
  
</div>
