<div class="container">  
  <h2>Welcome to the Church of Christ in Kingston, NY</h2>
  <hr>
  <p>If you are looking to learn more about the teachings of the Bible, then you’ve come to the right place.  Within the pages of this website, there is a vast collection of knowledge and encouragement for both the seasoned Christian, as well as the searching heart.  We hope everything you find will be beneficial to you and your walk with God, and we encourage you to let us know if we can be of help to you in any way.</p>
  <p>If you have any questions, or would like additional information, you may contact us at any time.  Visitors are always welcome to come and worship with us in a place where one will find Scriptural teaching and commitment to Christ.  For more information about what to expect, visit our ‘Visitors’ section.</p>
  <p>We are grateful you've decided to visit. We are a congregation where the teaching of God's Word takes first priority.</p>
  <app-audio-sermon></app-audio-sermon>
  <app-bible-studies></app-bible-studies>
</div>